* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}

header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #3a5dc7;
  color: white;
}

h3 {
  overflow: clip;
  padding-left: 1rem;
  max-width: 80%;
}

.journal-header {
  font-weight: lighter;
  padding-left: 5%;
}

.entry {
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: start;
  flex-basis: 100%;
}

.img-area {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.placeholder-img {
  max-width: 100%;
  height: 35vh;
  border-style: hidden;
  border-radius: 0.25rem;
}

.form-area-title,
.form-area-url,
.form-area-notes {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

label {
  margin: 0.25rem;
  font-weight: bolder;
}

input,
textarea {
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #929291;
  padding: 0.5rem;
}

textarea {
  font-family: inherit;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
}

.submit-button > input {
  cursor: pointer;
  background-color: #3a5dc7;
  color: whitesmoke;
  border-style: hidden;
  letter-spacing: 0.05rem;
  padding: 0.75rem;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: #3a5dc7;
  outline-width: 4px;
}

.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.new-entry-button {
  cursor: pointer;
  background-color: #3a5dc7;
  color: whitesmoke;
  border-style: hidden;
  letter-spacing: 0.05rem;
  padding: 0.75rem;
  height: 40%;
  border-radius: 0.25rem;
}

.entries-area {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.entries-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.entries-text-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.entries-text-area > p {
  padding-left: 1rem;
  width: 100%;
}

.entries-area > ul {
  list-style-type: none;
}

.entry-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.entries-img {
  max-width: 90%;
  border-style: hidden;
  border-radius: 0.25rem;
  padding: 2rem;
}

.nav {
  margin: 2rem;
}

.nav-list {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:visited,
a:focus {
  color: white;
}

a:hover {
  color: white;
}

.nav-item {
  background: none;
  color: white;
}
